/locations.txt
/terraform-azure.code-workspace
/.terraform
/terraform.tfstate
/terraform.tfstate.backup
/installs2.ps1
/installs.ps1
/installs3.ps1
/install-windows-updates.ps1
/applicationMemoryPoolSettings.txt
/checkNoneSelfsigned.ps1
/setPSRemoteAccess.ps1
/Start-IISCommitDelay.ps1